apiVersion: apps/v1
kind: Deployment
metadata:
  name: afiliados-rest-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: afiliados-rest
  template:
    metadata:
      labels:
        app: afiliados-rest
    spec:
      containers:
        - name: afiliados-rest-container
          image: josecandidop/afiliados2020:v1
          ports:
            - containerPort: 8084
          env:
          - name: MONGO_HOSTNAME
            valueFrom:
              secretKeyRef:
                name: afiliados-secret
                key: MONGO_HOSTNAME
          - name: MONGO_PORT
            valueFrom:
              secretKeyRef:
                name: afiliados-secret
                key: MONGO_PORT
          - name: MONGO_AUTHDB
            valueFrom:
              secretKeyRef:
                name: afiliados-secret
                key: MONGO_AUTHDB
          - name: MONGO_DB
            valueFrom:
              secretKeyRef:
                name: afiliados-secret
                key: MONGO_DB
          - name: MONGO_USER
            valueFrom:
              secretKeyRef:
                name: afiliados-secret
                key: MONGO_USER
          - name: MONGO_PWD
            valueFrom:
              secretKeyRef:
                name: afiliados-secret
                key: MONGO_PWD
          - name: TOMCAT_PORT
            valueFrom:
              secretKeyRef:
                name: afiliados-secret
                key: TOMCAT_PORT
---
apiVersion: v1
kind: Service
metadata:
  name: afiliados-rest-service
spec:
  selector:
    app: afiliados-rest
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
